body {
	padding: 0;
	margin: 0;
	font: bold 48px monospace;
	letter-spacing: 5px;
}

div.hit {
	background-color: green;
	position: absolute;
	font: 10px sans-serif;
	letter-spacing: normal;
}

div.sequence-index {
	font: 20px arial;
	letter-spacing: normal;
}

div.sequence-index span {
	width: 31.39px;
	display: inline-block;
}

div.hits-row {
	margin: 20px 0;
	border-bottom: 1px solid rgba(255, 0,0, 0.5);
	border-top: 1px solid rgba(255, 0,0, 0.5);
	position: relative;
}

div.clear {
	float: none;
}