#motif-list {
  display: none;
  height: 100px;
  overflow-y: scroll;
}
#motif-list-selected {
  height: 100px;
}

.motif {
  display: inline-block;
  border: 1px solid gray;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
  background: lightgray;
}
.motif.selected {
  background: lightgreen;
}

#sequence_input {
  width: 100%;
}

.motif-0 {
	background-color: #6a38ff;
	padding: 0px 0;
}

.motif-1 {
  padding: 2px 0;
  background-color: #FF0000;
}

.motif-2 {
  padding: 4px 0;
  background-color: #FFD700;
}

.motif-3 {
  padding: 6px 0;
  background-color: #800000;
}

.motif-4 {
	padding: 8px 0;
	background-color: #FF00FF;
}