#motif-list {
  height: 100px;
  overflow-y: scroll;
}

.motif {
  display: inline-block;
  border: 1px solid gray;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
  background: lightgray
}

.motif1 {
	background-color: #6a38ff

}

.motif2 {
	background-color: #FF0000

}

.motif3 {
	background-color: #FFD700

}

.motif4 {
	background-color: #800000
}

.motif5 {
	background-color: #FF00FF
}